.contentcontainer{
	position: relative;
	display: flex;
	background: black;
	height: 100vh;
	justify-content: center;
	text-align: center;
}

.login, .register{
	position: relative;
	display: block;
	width: 50vw;
}
.widthcotainer{
	position: relative;
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	position: relative;
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.logo img{
	filter: saturate(170%);
}
.contentcontainer h3{
	position: relative;
	display: block;
	margin-top: 30px;
	margin-bottom: 10%;
}

.form{
	position: relative;
	display: block;
	margin: auto;
	margin-top: 30px;
}

.form input, .form input:autofill, .form input:-webkit-autofill{
	position: relative;
	display: block;
	width: 100%;
	padding: 15px 20px 10px 20px;
	background: transparent;
	background-image: none !important;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
}
.form input:valid, .form input:focus{
	outline: none;
	border-radius: 0px;
}

.form span p{
	margin: 0px;
	padding: 0px 10px;
	transition: all ease-out .2s;
}
.form span{
	position: absolute;
	display: block;
	top: 15px;
	left: 15px;
	background: black;
	transition: all ease-out .2s;
	pointer-events: none;
}
.form input:valid ~ span{
	transform: translateY(-30px);
	transition: all ease-out .3s;

}
.form input:valid ~ span p{
	font-size: 14px;
	color: var(--neon);
	filter: saturate(170%);
	transition: all ease-out .1s;
}

.forgot{
	position: relative;
	text-align: right;
	margin: auto;
	margin-top: 2%;
}
.forgot a:link, .forgot a:visited{
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.contentcontainer .btncta_green1{
	width: 100%;
	margin-top: 40px;
}

.social{
	position: relative;
	display: block;
	margin-top: 100px;
}

.signinmethod{
	position: relative;
	display: block;
	margin-top: 20px;
}
.signinmethod a:link, .signinmethod a:visited{
	position: relative;
	font-size: 30px;
	color: #fff;
	margin: 0px 2%;
}

.rememberpassword{
	position: relative;
	display: block;
	text-align-last: right;
	margin-top: 2%;
	user-select: none;
}
.rememberpassword input{
	display: none;
}
.rememberpassword span{
	position: relative;
	display: flex;
}
.rememberpassword span p{
	position: relative;
	margin-top: 2px;
	margin-bottom: 0px;
}
.rememberpassword span:before{
	content: "";
	position: relative;
	display: block;
	background: transparent;
	border: 1px solid var(--neon);
	filter: saturate(170%);
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: auto 0px;
	margin-right: 10px;
}
.rememberpassword input:checked + span p{
	color: var(--neon);
	filter: saturate(170%);
}
.rememberpassword input:checked + span:before{
	background: var(--neon);
	filter: saturate(170%);
}

.background{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	overflow: hidden;
	pointer-events: none;
}
.switchcontainer{
	position: relative;
	width: 50%;
	height: 100%;
	left: 50%;
	transition: all ease-in .5s;
}
.signcontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 30%;
	background: url(../pic/cc.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #fff;
	background-blend-mode: multiply;
	pointer-events: auto;
	transition: all ease-out .3s;
}
.signcontainer button{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
.signcontainer button, .signcontainer h2{
	opacity: .1;
}
.signin{
	display: none;
}

/*Hover*/

@media(min-width: 992px){
	.form input:valid ~ span,
	.form input:hover ~ span{
		transform: translateY(-30px);
		transition: all ease .3s;
	}
	.form input:valid ~ span p,
	.form input:hover ~ span p{
		font-size: 14px;
		color: var(--neon);
		filter: saturate(170%);
		transition: all ease-out .1s;
	}
	.forgot a:hover{
		color: var(--neon);
		filter: saturate(170%);
		transition: all ease-out .2s;
	}
	.signinmethod a:hover{
		color: var(--neon);
		filter: saturate(170%);
	}
	.switchcontainer:hover .signcontainer{
		background-color: #2b2b2b;
	}
	.switchcontainer:hover .signcontainer button, .switchcontainer:hover .signcontainer h2{
		opacity: 1;
	}
}